.navbar{
    
    height: 80px;
    background-color: #373b6a;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
body{
    margin: 0;
    padding: 0;
}
.textbox{
    
    margin-right: 5px;
   
    border-radius: 15px;
    padding: 15px;
    background-color: #373b6a;
    border-color: black;
}